#matrixholder {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

input {
    width: 25px;
    height: 25px;
}

#refs {
    display: flex;
    flex-direction: row;
}



/* Hide number input spinner arrows in Webkit browsers (Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spinner arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    background-color: rgba(75, 75, 75, 255);
    color: white;
    text-align: center;
}


#songinfo {
    background-color: rgba(75,75,75,255);
    width: 100%;
}

#controls {
    background-color: rgba(75,75,75,255);
    width: 100%;
}

.component {
    text-align: center;
    background-color: rgba(50,50,50,255);
    color: white;
}

#page {
    display: flex;
    flex-direction: row;
    background-color: rgba(30,30,30,255);
}

#info {
    color: white;
}